=begin
#IONOS DBaaS PostgreSQL REST API

#An enterprise-grade Database is provided as a Service (DBaaS) solution that can be managed through a browser-based \"Data Center Designer\" (DCD) tool or via an easy to use API.  The API allows you to create additional PostgreSQL database clusters or modify existing ones. It is designed to allow users to leverage the same power and flexibility found within the DCD visual tool. Both tools are consistent with their concepts and lend well to making the experience smooth and intuitive. 

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.1-SNAPSHOT

=end

require 'cgi'

module IonoscloudDbaasPostgres
  class BackupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List backups of cluster
    # Retrieves a list of all backups of the given PostgreSQL cluster.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of elements to return. Use together with &#39;offset&#39; for pagination. (default to 100)
    # @option opts [Integer] :offset The first element to return. Use together with &#39;limit&#39; for pagination. (default to 0)
    # @return [ClusterBackupList]
    def cluster_backups_get(cluster_id, opts = {})
      data, _status_code, _headers = cluster_backups_get_with_http_info(cluster_id, opts)
      data
    end

    # List backups of cluster
    # Retrieves a list of all backups of the given PostgreSQL cluster.
    # @param cluster_id [String] The unique ID of the cluster.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of elements to return. Use together with &#39;offset&#39; for pagination.
    # @option opts [Integer] :offset The first element to return. Use together with &#39;limit&#39; for pagination.
    # @return [Array<(ClusterBackupList, Integer, Hash)>] ClusterBackupList data, response status code and response headers
    def cluster_backups_get_with_http_info(cluster_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.cluster_backups_get ...'
      end
      # verify the required parameter 'cluster_id' is set
      if @api_client.config.client_side_validation && cluster_id.nil?
        fail ArgumentError, "Missing the required parameter 'cluster_id' when calling BackupsApi.cluster_backups_get"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BackupsApi.cluster_backups_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BackupsApi.cluster_backups_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/clusters/{clusterId}/backups'.sub('{' + 'clusterId' + '}', CGI.escape(cluster_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClusterBackupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.cluster_backups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#cluster_backups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch a cluster backup
    # Retrieve a PostgreSQL cluster backup by using its ID. This value can be found when you GET a list of PostgreSQL cluster backups. 
    # @param backup_id [String] The unique ID of the backup.
    # @param [Hash] opts the optional parameters
    # @return [BackupResponse]
    def clusters_backups_find_by_id(backup_id, opts = {})
      data, _status_code, _headers = clusters_backups_find_by_id_with_http_info(backup_id, opts)
      data
    end

    # Fetch a cluster backup
    # Retrieve a PostgreSQL cluster backup by using its ID. This value can be found when you GET a list of PostgreSQL cluster backups. 
    # @param backup_id [String] The unique ID of the backup.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BackupResponse, Integer, Hash)>] BackupResponse data, response status code and response headers
    def clusters_backups_find_by_id_with_http_info(backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.clusters_backups_find_by_id ...'
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling BackupsApi.clusters_backups_find_by_id"
      end
      # resource path
      local_var_path = '/clusters/backups/{backupId}'.sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BackupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.clusters_backups_find_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#clusters_backups_find_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List cluster backups
    # Retrieves a list of all PostgreSQL cluster backups.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of elements to return. Use together with &#39;offset&#39; for pagination. (default to 100)
    # @option opts [Integer] :offset The first element to return. Use together with &#39;limit&#39; for pagination. (default to 0)
    # @return [ClusterBackupList]
    def clusters_backups_get(opts = {})
      data, _status_code, _headers = clusters_backups_get_with_http_info(opts)
      data
    end

    # List cluster backups
    # Retrieves a list of all PostgreSQL cluster backups.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The maximum number of elements to return. Use together with &#39;offset&#39; for pagination.
    # @option opts [Integer] :offset The first element to return. Use together with &#39;limit&#39; for pagination.
    # @return [Array<(ClusterBackupList, Integer, Hash)>] ClusterBackupList data, response status code and response headers
    def clusters_backups_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.clusters_backups_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 1000
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BackupsApi.clusters_backups_get, must be smaller than or equal to 1000.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BackupsApi.clusters_backups_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/clusters/backups'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClusterBackupList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth', 'tokenAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.clusters_backups_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#clusters_backups_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
